.myTeams {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teamsGameWeek, .teamsGameScore {
    background: linear-gradient(-10deg, black, transparent);
    margin-left: 10rem;
    margin-top: 2rem;
    width: 30%;
}

.teamsGameScore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}