.myTeams {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teamsGameWeek, .teamsGameScore {
    background-color: rgba(10, 10, 10, 0.904);
    background-blend-mode: overlay;
    margin-left: 10rem;
    margin-top: 2rem;
    width: 30%;
    text-align: center;
}

.teamsGameScore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}