.teamsList {
    max-height: 2.5rem;
    margin-left: 1rem;
}

.teamContainer {
    display: grid;
    grid-template-columns: repeat(5, 325px);
    margin: 0 2.5rem;
    background-color: rgba(10, 10, 10, 0.904);
    background-blend-mode: overlay;
    height: 810px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    
}

.teamContainer::-webkit-scrollbar {
    display: none;
  }

.teams {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-inline-size: 20rem;
    max-block-size: 2rem;
}

.team-btn {
    transition-duration: 0.4s;
    background-color: slategray;
    font-size: xx-small;
    max-inline-size: 3rem;
    margin-right: 20px;
    
}

.team-btn:hover {
    background-color: darkgreen;
    color: slategray
}

.teamList {
    text-align: center;
}