/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

/*Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: #383535;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}


h1 {
  background-color: rgb(20, 34, 20);
  margin-top: 0px;
}

.container {
  color: #cfcd96;
  background-image: url(./capstone-imgs/footballMain.jpg);
  /*background-color: black;*/ 
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: space-around;
}



