.myTeamContainer, .localTeamContainer, .leaderContainer {
    background-color: rgba(10, 10, 10, 0.904);
    background-blend-mode: overlay;
    margin-left: 5rem;
    margin-top: 2rem;
    width: 20%;
    text-align: center;
    padding: 0 1rem;
}