.headline {
    margin-top: 2rem;
}

.newsContainer {
    background: linear-gradient(180deg, black, transparent);
    height: fit-content;
    height: 720px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    margin: 0 1rem;
    padding: .5rem 1rem
}

.teamRankings {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    max-inline-size: 20rem;
    max-block-size: 2rem;
}

.mainContainer {
  margin-top: 2rem;
}

span {
  color: white;
}

  .scheduleContainer--main {
    padding:4px;
    background: linear-gradient(180deg, black, transparent);
    min-width: 70%;
    height: 710px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }

  .newsContainer::-webkit-scrollbar {
    display: none;
  }

  .scheduleContainer--main::-webkit-scrollbar {
    display: none;
  }

  .main-headline {
    margin-left:  2px;
    font-size: xx-small;
  }

  .rankings {
    display: flex;
    flex-direction: column;
  }

.teamScores {
  display: grid;
}

.teamNames {
  display: contents;
}
b {
  margin-left: 1rem;
}