.headline {
    margin-top: 2rem;
}

.newsContainer {
    background: linear-gradient(-10deg, black, transparent);
    height: fit-content;
    height: 720px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.teamRankings {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    max-inline-size: 20rem;
    max-block-size: 2rem;
}

.mainContainer {
  margin-top: 2rem;
}

span {
  color: white;
}

  .scheduleContainer--main {
    margin:4px, 4px;
    padding:4px;
    background: linear-gradient(-10deg, black, transparent);
    min-width: 65%;
    height: 710px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
  }

  .newsContainer::-webkit-scrollbar {
    display: none;
  }

  .scheduleContainer--main::-webkit-scrollbar {
    display: none;
  }

  .main-headline {
    margin-left:  2px;
    font-size: xx-small;
  }
